@using Items.Shared.DTO;
@using Items.Shared.DTO.Common;

@{
	ViewData["Title"] = "Items";
	var Items = new List<ItemDto>();
	var PaginatedItems = Model.Value as PaginatedList<ItemDto>;
	if (PaginatedItems is not null)
		Items = PaginatedItems.Items;
}
<h1>@ViewData["Title"]</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Producer</th>
			<th>Supplier</th>
			<th>Price</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		@if (Items?.Any() ?? false)
		{
			foreach (ItemDto item in Items)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Category</td>
					<td>@item.Producer</td>
					<td>@item.Supplier</td>
					<td>@item.Price</td>
					<td>@item.Created</td>
					<td>@item.LastModified</td>
					<td>
						<a style="text-decoration:none" href="@Url.Action("EditItem", "Items", new { itemId = item.Id })"><font size="5">*</font></a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="8">
					Items list empty
				</td>
			</tr>
		}
	</tbody>
</table>